:root {
	--white: #ffffff;
	--dark-blue: #070724;
	--light-grey: #38384f;
	--grey: #838391;
	--celestial-blue: #419ebb;
	--yellow: #eda249;
	--purple: #6d2ed5;
	--orange: #d14c32;
	--red: #d83a34;
	--dark-orange: #cd5120;
	--topaz: #1ec1a2;
	--blue: #2d68f0;
	--iron: #d8d8d8;

	// Fonts
	--primary-font: 'Spartan', sans-serif;
	--secondary-font: 'Antonio', sans-serif;
	--font-weight-normal: 400;
	--font-weight-bold: 700;
}
