@use '../abstracts' as *;
.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 8.5rem;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	padding: 0 3.2rem;
	@include breakpoint(tablet) {
		flex-direction: column;
		justify-content: center;
		height: 15.9rem;
		gap: 3.9rem;
	}

	&__right {
		display: flex;
		gap: 3.3rem;
	}

	&--title {
		font-family: var(--secondary-font);
		font-size: 2.8rem;
		line-height: 3.6rem;
		letter-spacing: -1.05px;
		text-transform: uppercase;
	}

	&--items {
		font-family: var(--primary-font);
		font-weight: var(--font-weight-bold);
		font-size: 1.1rem;
		line-height: 2.5rem;
		letter-spacing: 1px;
		text-transform: uppercase;
	}
}
